<section class="phx-hero">
  <h1>Hacking</h1>
  <p>Miejsce pełne eksperymentów</p>
</section>
<section class="row">
  <aside class="column column-25">
    <nav>
      <ul>
        <li>
          <a href="#cybersecurity">Cyberbezpieczeństwo</a>
        </li>
        <li>
          <a href="#malware">Malware</a>
        </li>
      </ul>
    </nav>
  </aside>
  <article class="column column-offset-25">
    <div id="cybersecurity">
      <%= render NieustraszonyWeb.ArticleView, "cybersecurity.html", assigns %>
    </div>
    <hr />
    <div id="malware">
      <%= render NieustraszonyWeb.ArticleView, "malware.html", assigns %>
    </div>
  </article>
</section>
<section class="row">
  <article class="column">
    <h2>Źródła</h2>
    <ul>
      <li>
        <a href="https://oasis-open.github.io/cti-documentation/">STIX</a>
      </li>
    </ul>
  </article>
  <article class="column">
  </article>
</section>
