<section class="phx-hero">
  <h1>Hakowanie</h1>
  <p>Miejsce pełne eksperymentów</p>
</section>
<section class="row">
  <article class="column">
    <%= render NieustraszonyWeb.ArticleView, "cybersecurity.html", assigns %>
    <hr />
    <%= render NieustraszonyWeb.ArticleView, "malware.html", assigns %>
  </article>
</section>
<section class="row">
  <article class="column">
    <h2>Źródła</h2>
    <ul>
      <li>
        <a href="https://oasis-open.github.io/cti-documentation/">STIX</a>
      </li>
    </ul>
  </article>
  <article class="column">
  </article>
</section>
